*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #1f0057;
    --background-calculadora: #4300be;
    --background-input: #ffffff;
    --color-text-input: #000000;
    --color-text: #ffffff;
    --background-button: #000000;
    --color-text-button: #ffffff;

    --Sans: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    font-family: var(--Sans);
    color: var(--color-text);
}

main {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.div-nome, .div-altura, .div-peso, .div-calc {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 10px;
}

input, button {
    padding: 10px;
    font-size: 20px;
    outline: 0;
    border: none;    
}

button {
    cursor: pointer;
    background-color: var(--background-calculadora);
    color: var(--color-text-button);
    align-items: center;
    border: none;
    margin-bottom: 15px;
}

#resultado {
    padding: 0 30px;
}

@media screen and(max-width: 480px) {
    body, input, button {
        font-size: 15px;
    }
}
